*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cinza: #555;
    --botao: #3b3eff;
    --botaoPressionado: #a3bfe7;
    --branco: #fff;
    --degrade: #487bfc;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #211E20;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
   display: inline-block;
   list-style-type: none; 
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    overflow: hidden;
}

.col-2 img{
    max-width: 150%;
    padding: 10px 5px;
    margin-top: -10px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    margin-top: 1px;
}

.btn{
    display: inline-block;
    background: #3b3eff;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:0.5s;
}

.btn:hover{
    background: #5796ee;
}

.header{
    background: radial-gradient(#ffffff, var(--degrade));
}

.header .row{
    margin-top: 40px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
   width: 100%;
   height: 100%;
}

.small-container{
    max-width: 2030px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 90%;
    right: 80px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: var(--branco);
}

.title::after{
    content: '';
    background: var(--degrade);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--branco);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

.offer .small-container .row .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    margin-top: -10px;
    color: var(--botao);
}

.offer .small-container .row .col-2 p{
    color: var(--cinza)
}

.offer .small-container .row .col-2 small{
    color: var(--cinza)
}

.offer{
    background: radial-gradient(var(--botaoPressionado), var(--degrade));
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
    margin-left: 100px;
}

small{
    color: var(--cinza);
}

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 50px 90px;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .row img{
    width: 350px;
    margin-top: 1px;
    border-radius: 90%;
    margin: 1%;
}

.testimonial .col-3:hover{
   transform: translateY(-10px); 
}

.fa .fa-quote-left{
    font-size: 34px;
    color: var(--degrade);
}

.col-3{
    font-size: 12px;
    margin: 12px 0;
    color: var(--branco)
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;;
    color: var(--branco);
}

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 200%;
    margin-left: -50%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}


/*------Page 2------*/

.row-2{
    justify-content: space-around;
    margin: 100px auto 60px;
    color: var(--branco);
}

select{
    border: 1px solid var(--branco);
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
    color: var(--branco);
}

.page-btn span{
    display: inline-block;
    border: 1px solid var(--branco);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: var(--botao);
    color: var(--branco);
}


/*---------Produtos individuais---------*/

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid var(--branco);
}

input:focus{
    outline: none;
}

.single-product p{
    color: var(--branco);
    font-size: 15px;
}

.single-product h1{
    color: var(--branco);
}

.single-product h3{
    color: var(--branco);
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
   flex-basis: 20%; 
   cursor: pointer;
   margin-top: 30px;
}


.cart-page{
    margin: 80px auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
